name: Checks on push
on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: python -m pip install -r requirements.txt
    - name: Code checks
      run: ruff check .
    - name: Formatting
      run: ruff format --check .
    - name: Build
      run: python -m build
